@using BOL;
<html>
    <meta>
    <head></head>
    <body>
        <form action="/Employee/Edit" method="post" >\
          Enter the HOD Profile to be changed:<input type="text" name="hod1" id="hod1" required="true"/><br/><br/>  
          Subject Name : <input type="text" name="subname" id="subname" required="true"/><br/><br/>
          HOD Name :     <input type="text" name="hod" id="hod" required="true"/><br/>
          <button type="submit" name="btn" id="btn">submit</button>
        </form>
    </body>
</html>